{% extends "transhette/base.html" %}
{% load transhette_filters i18n %}
{% block header %}
    {{block.super}}
    <div id="transhette-tools" style="float: right; font-size: 11px; padding-right: 10px;">
        <p>
            <span><a href="{% url transhette-restart-server %}">{% trans "Restart web server" %}</a> /
            <a href="{% url transhette-pick-file %}">{% trans "Pick another file" %}</a> / 
            <a href="{% url transhette-download-file %}">{% trans "Download this catalog" %}</a> /
            <a href="{% url transhette-update-file %}">{% trans "Update a file" %}</a>
            </span>
        </p>
    </div>
{% endblock %}

{% block breadcumbs %}
    <a href="{% url transhette-pick-file %}">{% trans "Home" %}</a> &rsaquo; 
    {% blocktrans with transhette_i18n_pofile.percent_translated|floatformat:2 as percent_translated  %} Update file {% endblocktrans %}
{% endblock %}

{% block main %}
    <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_django_admin }}
        <div class="submit-row">
            <input type="submit" name="_save" class="default" value="{% trans "Update File" %}"/>
        </div>
    </form>
{% endblock %}
